h3,
h2 {
    margin: 0;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
}

header h2 {
    color: #BB2649;
}

nav a {
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #BB2649;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.userinfo {
    margin: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.userinfo img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid;
    border-color: #BB2649;
}

.userinfo h3 {
    color: black;
}

.user-logged-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #BB2649;
    color: white;
}

.pending {
    background-color: darkgray;
    color: white;
}

.mobile-header {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo h2 {
    font-size: 40px;
    margin: 20px;
    color: #BB2649;
    text-decoration: none;
}

.mobile-header span {
    margin: 20px;
    font-size: 40px;
    cursor: pointer;
}

.sidenav .closebtn {
    color: #f1f1f1;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #BB2649;
    color: black;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

@media screen and (max-width: 680px) {
    header {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
}